* {
    content-align: center middle;
    text-align: center;
    width: 100%;
}

#title {
    padding: 1;
}

Select {
    margin: 1;
}

Horizontal {
    align: center bottom;
}

Button {
    width: 50%;
    margin: 2;
}