* {
    content-align: center middle;
    text-align: center;
    width: 100%;
}

.title {
    padding: 1;
}

Select {
    margin: 1;
    background: $accent;
}

Horizontal {
    align: center bottom;
}

Button {
    margin: 1;
}

#dummy {
    width: 0%;
    height: 0%;
    border: none;
    margin: 0;
}